$primary-color: #1c4587;
$secondary-color:#bf9000;
$text-color:white;
$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$secondary-font: 'Times New Roman', Times, serif;
$form-color: lightgray;
